#btowp_img {padding:5px 5px 0;float:left;vertical-align:bottom;display:inline-block;}
#btowp_title {float:left;display:inline-block}
#content_block {width:66%; float: left;}
#ads_block {width:33%; padding-top: 0; float: right;} 
#ads_block > div {width:80%}
#ads_block .inside {font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;line-height:1.5}
#ads_block .inside span{font-style:italic;font-weight:bold}
#b2wr_notice_block > p{font-size:12px;font-weight:bold;letter-spacing:0.9px;padding:0px}
#b2wr_notice_block span{padding-left:6px}
.blue_color{color:#21759B !important}
.align_left{float:left}
#error_msg{color:#c00}
.rtp-center{margin: 0 auto}