name: Deploy
on:
  push:
    tags:
      - '*'
jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: WordPress Plugin Deploy
      uses: rtCamp/action-wordpress-org-plugin-deploy@master
      env:
        ASSETS_DIR: wpassets
        EXCLUDE_LIST: .bowerrc .gitattributes .gitignore .jshintrc .travis.yml CONTRIBUTING.md
          Gruntfile.js README.md bin deploy.sh package-lock.json package.json phpcs.xml phpunit.xml
          tests
        SLUG: blogger-to-wordpress-redirection
        WORDPRESS_PASSWORD: ${{ secrets.SVN_PASSWORD }}
        WORDPRESS_USERNAME: ${{ secrets.SVN_USERNAME }}
